body{
    background-color:#E9BD73;
}
.container{
    background-color:#E9BD73;
}

#grootGif{
    display:none;
    position:relative;
    top:200px;
    left:25px;
    width:600px;
    z-index:1;
}

.navbar{
    position:fixed;
    width:100%;
    z-index: 1;
}

#backgroundImage {   
    display: none;
    position:relative;
    top:-100px;
    height:600px;
    width:1000px;
}
.modal-content{
    width:400px;
    height:370px;
}

.modal-body{
    width:300px;
    height:300px;
}
.modal-footer{
    position:absolute;
    width:398px;
    height:40px;
    bottom:5px;
}   


#lblSignUpUsername{
    position: absolute;
    right:205px;
    top:5px;
}

#inputSignUpUsername{
    position: absolute; 
    width:270px;
    top:30px;
}

#lblSignUpPassword{
    position: absolute;
    top:70px;
    right:205px;
}

#inputSignUpPassword{
    position: absolute;
    width:270px; 
    top:95px;
}

#lblSignUpConfirmPassword{
    position: absolute;
    top:135px;
    right:149px;
}


#inputSignUpConfirmPassword{
    position: absolute;
    width:270px; 
    top:160px;
}


#btnSignUp{
    position: absolute;
    width:270px;
    top:210px;
}

#closeButton{
    position: absolute;
    right:5px;
    bottom:1px;
}

#lblLoginUsername{
    position: absolute;
    right:205px;
    top:5px;
}

#inputLoginUsername{
    position: absolute; 
    width:270px;
    top:30px;
}

#lblLoginPassword{
    position: absolute;
    top:70px;
    right:205px;
}

#inputLoginPassword{
    position: absolute;
    width:270px; 
    top:95px;
}


#btnLogin{
    position: absolute;
    width:270px;
    top:150px;
}

#loginModalContent{
    height:330px;
}

#lblAccountExist {
    position: absolute;
    font-size: 13px;
    width:200px;
    right:240px;
    top:10px;
        
}

#linkToLogin{
    position: absolute;
    right:200px;
    top:10px;
    font-size:13px;
   
}

#tableDemo{
    position: absolute;
    top:100px;
    width:100%;
    right:1px;
    
}
#activityLog{
    position:relative;
    right:650px;
}

#requestAvailable{
    position: relative;
    right:650px;
}

