<html>
    <head>
        <title>EZGrab</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <script language="javascript" type="text/javascript" src="main.js"></script>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="signin.css">
        <link rel="stylesheet" href="mainform.css">
        <link rel="stylesheet" href="buyRequestForm.css">
        <link rel="stylesheet" href="grabRequestForm.css">
        <link rel="stylesheet" href="settingsForm.css">
        <link rel="stylesheet" href="grabConfirmation.css">
        <script src="https://vuejs.org/js/vue.js"></script>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/x-template" id="order-entry-template">
            <div class="orderEntryDiv" v-on:click="grabConfirmation">
                <label class="orderEntryBuyLocationLbl"> Buy Location: </label>
                <label class="orderEntryBuyLocation"> {{ buylocation }} </label>
                <label class="orderEntryDropLocationLbl"> Drop Location: </label>
                <label class="orderEntryDropLocation"> {{ droplocation }} </label>
                <label class="orderEntryRecipientLbl"> Recipient: </label>
                <label class="orderEntryRecipient"> {{ recipient }} </label> 
                <label class="orderEntryNotesLbl"> Notes: </label>
                <label class="orderEntryNotes"> {{ notes }} </label>
            </div>
        </script>

        <script type="text/x-template" id="buy-entry-template">
            <div class="buyRequestDiv">
                <label class="buyRequestBuyLocationLbl"> Buy Location: </label>
                <label class="buyRequestBuyLocation"> {{ buylocation }} </label>
                <label class="buyRequestDropLocationLbl"> Drop Location: </label>
                <label class="buyRequestDropLocation"> {{ droplocation }} </label>
                <label class="buyRequestRecipientLbl"> Sender: </label>
                <label class="buyRequestRecipient"> {{ sender }} </label> 
                <label class="buyRequestNotesLbl"> Notes: </label>
                <label class="buyRequestNotes"> {{ notes }} </label>
            </div>
        </script> 

        <script type="text/x-template" id="grab-entry-template">
            <div class="grabRequestDiv">
                <label class="grabRequestBuyLocationLbl"> Buy Location: </label>
                <label class="grabRequestBuyLocation"> {{ buylocation }} </label>
                <label class="grabRequestDropLocationLbl"> Drop Location: </label>
                <label class="grabRequestDropLocation"> {{ droplocation }} </label>
                <label class="grabRequestRecipientLbl"> Recipient: </label>
                <label class="grabRequestRecipient"> {{ recipient }} </label> 
                <label class="grabRequestNotesLbl"> Notes: </label>
                <label class="grabRequestNotes"> {{ notes }} </label>
            </div>
        </script>

    </head>

    <body onload="body_onload()">
        <div id="app">
            <div id="navBar">
                <div id="logo">EZGrab</div>
                <div id="homeBtn" v-on:click="setHome">HOME</div>
                <div id="buyRequestsBtn" v-on:click="setBuyRequests">BUY REQUESTS</div>
                <div id="grabRequestsBtn" v-on:click="setGrabRequests">GRAB REQUESTS</div>
                <div id="settingsBtn" v-on:click="setSettings">SETTINGS</div>
                <div id="navBarDisable" v-show="disable"></div>
            </div>


            <div id="mainDiv">
                <transition name="fade">
                    <div id="signInForm" v-if="!signIn">
                        <label id="signInFormHdr">SIGN IN</label>

                        <label id="signInUsernameLbl">Username</label>
                        <input id="signInUsername" type="text" />

                        <label id="signInPasswordLbl">Password</label>
                        <input id="signInPassword" type="password" />

                        <button id="signInBtn" v-on:click="checkSignIn">
                            Sign In
                        </button>

                        <!--<label id="rememberLbl">Remember Me</label>
                        <input id="rememberChkBox" type="checkbox"/>-->

                        <label id="createAccountLbl">New to EZGrab?</label>
                        <button id="createAccountBtn">Create Account</button>

                        <label id="signInMsg">{{ signInMsg }}</label>
                    </div>
                </transition>
                
                <transition name="fade">
                    <div id="mainForm" v-if="signIn && !buyRequestForm && !grabRequestForm && !settingsForm">
                        <label id="originLbl">Origin:</label>
                        <input id="originInput" type="text" />

                        <label id="destinationLbl">Destination:</label>
                        <input id="destination" type="text" />
                    

                        <button id="recommendMeBtn" v-on:click="recommendMe">Recommend Me!</button>

                        <button id="addBuyRequestBtn" v-on:click="showAddForm = true">Add Buy Request</button>
                        
                        <transition name="fade">
                            <div id="addBuyRequestForm" v-show="showAddForm">
                                <label id="buyLocationLbl">Buy Location:</label>
                                <input id="buyLocation" type="text" />

                                <label id="dropLocationLbl">Drop Location:</label>
                                <input id="dropLocation" type="text" />

                                <label id="notesLbl">Notes:</label>
                                <textarea id="notes"></textarea>

                                <button id="addBtn" v-on:click="addBuyRequest">Add</button>
                                <button id="closeBtn" v-on:click="showAddForm = false">Close</button>
                                <label id="addFormMsg">{{ addFormMsg }}</label>
                            </div>
                        </transition>

                        <transition-group name="fade">
                            <order-entry v-for="order in orders" 
                                v-bind:key="order" 
                                v-bind:buylocation="order.BuyLocation" 
                                v-bind:droplocation="order.DropLocation"
                                v-bind:recipient="order.Recipient" 
                                v-bind:notes="order.Notes" 
                                v-bind:id="order.ID">
                            </order-entry>
                        </transition-group>

                        
                    </div>
                </transition>

                <transition name="fade">
                    <div id="buyRequestForm" v-if="buyRequestForm && !grabRequestForm && !settingsForm">
                        <label id="buyRequestLbl">Buy Requests History</label>            
                            <transition-group name="fade">
                                <buy-entry v-for="order in orders" 
                                    v-bind:key="order" 
                                    v-bind:buylocation="order.BuyLocation" 
                                    v-bind:droplocation="order.DropLocation"
                                    v-bind:sender="order.Sender" 
                                    v-bind:notes="order.Notes" 
                                    v-bind:id="order.ID">
                                </buy-entry>
                            </transition-group>                                                         
                
                    </div>
                </transition>

                <transition name="fade">
                    <div id="grabRequestForm" v-if="grabRequestForm && !buyRequestForm && !settingsForm">
                        <label id="grabRequestLbl">Grab Requests History</label>
                            <transition-group name="fade">
                                <grab-entry v-for="order in orders" 
                                    v-bind:key="order" 
                                    v-bind:buylocation="order.BuyLocation" 
                                    v-bind:droplocation="order.DropLocation"
                                    v-bind:recipient="order.Recipient"
                                    v-bind:notes="order.Notes" 
                                    v-bind:id="order.ID">
                                </grab-entry>
                        </transition-group>
                
                    </div>
                </transition>

                <transition name="fade">
                    <div id="settingsForm" v-if="settingsForm && !grabRequestForm && !buyRequestForm">
                        <label id="personalInfoLbl"> Personal Information: </label>
                        
                        <label id="usernameLbl"> Username: </label>
                        <input type="text" id="txtUserName">

                        <label id="passwordLbl"> Password: </label>
                        <input type="text" id="txtPassword">

                        <label id="emailLbl"> Email: </label>
                        <input type="text" id="txtEmail">

                        <label id="mobileNumberLbl"> Mobile Number: </label>
                        <input type="text" id="txtMobileNumber">
                
                    </div>
                </transition>

                <transition name="fade">
                    <div id="grabConfirmation" v-show="grabConfirm">
                        <label id="grabConfirmationMsg">Are you sure you want to grab this order?</label>
                        <button id="grabConfirmationYesBtn" v-on:click="grabOrder">Yes</button>
                        <button id="grabConfirmationNoBtn" v-on:click="grabConfirm = false">No</button>
                    </div>
                </transition>  
            </div>
        </div>
    </body>
</html>