<html>
    <head>
        <title>EZGrab</title>
        <script language="javascript" type="text/javascript" src="main.js"></script>
        <script language="javascript" type="text/javascript" src="recommend.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="signin.css">
        <link rel="stylesheet" href="mainform.css">
        <script src="https://vuejs.org/js/vue.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

        <script type="text/x-template" id="order-entry-template">
            <div class="orderEntryDiv">
                <label class="orderEntryBuyLocationLbl"> Buy Location: </label>
                <label class="orderEntryBuyLocation"> {{ buylocation }} </label>
                <label class="orderEntryDropLocationLbl"> Drop Location: </label>
                <label class="orderEntryDropLocation"> {{ droplocation }} </label>
                <label class="orderEntryRecipientLbl"> Recipient: </label>
                <label class="orderEntryRecipient"> {{ recipient }} </label> 
                <label class="orderEntryNotesLbl"> Notes: </label>
                <label class="orderEntryNotes"> {{ notes }} </label>
            </div>
        </script>
    </head>

    <body onload="body_onload()">
        <div id="app">
            <div id="navBar">
                <div id="logo">EZGrab</div>
                <div id="homeBtn">HOME</div>
                <div id="buyRequestsBtn">BUY REQUESTS</div>
                <div id="grabRequestsBtn">GRAB REQUESTS</div>
                <div id="settingsBtn">SETTINGS</div>
            </div>


            <div id="mainDiv">
                <transition name="fade">
                    <div id="signInForm" v-if="!signIn">
                        <label id="signInFormHdr">SIGN IN</label>

                        <label id="signInUsernameLbl">Username</label>
                        <input id="signInUsername" type="text" />

                        <label id="signInPasswordLbl">Password</label>
                        <input id="signInPassword" type="password" />

                        <button id="signInBtn" v-on:click="checkSignIn">
                            Sign In
                        </button>

                        <!--<label id="rememberLbl">Remember Me</label>
                        <input id="rememberChkBox" type="checkbox"/>-->

                        <label id="createAccountLbl">New to EZGrab?</label>
                        <button id="createAccountBtn">Create Account</button>

                        <label id="signInMsg">{{ signInMsg }}</label>
                    </div>
                </transition>
                
                <transition name="fade">
                    <div id="mainForm" v-if="signIn">
                        <label id="originLbl">Origin:</label>
                        <input id="origin" type="text" />

                        <label id="destinationLbl">Destination:</label>
                        <input id="destination" type="text" />

                        <button id="recommendMeBtn" v-on:click="recommendMe">Recommend Me!</button>

                        <button id="addBuyRequestBtn" v-on:click="showAddForm = true">Add Buy Request</button>
                        
                        <transition name="fade">
                            <div id="addBuyRequestForm" v-show="showAddForm">
                                <label id="buyLocationLbl">Buy Location:</label>
                                <input id="buyLocation" type="text" />

                                <label id="dropLocationLbl">Drop Location:</label>
                                <input id="dropLocation" type="text" />

                                <label id="notesLbl">Notes:</label>
                                <textarea id="notes"></textarea>

                                <button id="addBtn" v-on:click="addBuyRequest">Add</button>
                                <label id="addFormMsg">{{ addFormMsg }}</label>
                            </div>
                        </transition>

                        <transition-group name="fade">
                            <order-entry v-for="order in orders" 
                                v-bind:key="order" 
                                v-bind:buylocation="order.BuyLocation" 
                                v-bind:droplocation="order.DropLocation"
                                v-bind:recipient="order.Recipient" 
                                v-bind:notes="order.Notes" 
                                v-bind:id="order.ID">
                            </order-entry>
                        </transition-group>

                        
                    </div>
                </transition>
            </div>
        </div>
    </body>
</html>